[options]
mode {{ mode }}
depth {{ depth }}
[engines]
smtbmc{% if solver %} {{ solver }}{% endif %}
[script]
{% for d in include_dirs %}
read -incdir {{ d }}
{% endfor %}
{% for f in rtl_files %}
read -sv {{ f.name }}
{% endfor %}
read -sv -formal {{ bind_path.name }}
prep -top {{ module_name }}
[files]
{% for f in rtl_files %}
{{ f }}
{% endfor %}
{{ bind_path }}
